{% extends 'base.html' %}
{% block content %}
<h1>{% if coin %}{{ coin }} {% endif %}Block ({{ block.height }})</h1>
<table class="pure-table" style="width: 100%;">
    <tr>
        <th>height</th>
        <td>{{ block.height }}</td>
    </tr>
    <tr>
        <th>hash</th>
        <td>{{ block.hash }}</td>
    </tr>
    <tr>
        <th>previsous block hash</th>
        <td><a href="/block/{{ block.previousblockhash }}">{{ block.previousblockhash }}</a></td>
    </tr>
    <tr>
        <th>next block hash</th>
        <td><a href="/block/{{ block.nextblockhash }}">{{ block.nextblockhash }}</a></td>
    </tr>
    <tr>
        <th>age</th>
        <td><time class="timeago" datetime="{{ block.time|iso_time }}">{{ block.time|iso_time }}</time></td>
    </tr>
    <tr>
        <th>time</th>
        <td>{{ block.time|formated_time }}</td>
    </tr>
    <tr>
        <th>num tx</th>
        <td>{{ block.tx|length }}</td>
    </tr>
    <tr>
        <th>confirmations</th>
        <td>{{ block.confirmations }}</td>
    </tr>
    <tr>
        <th>size</th>
        <td>{{ block.size }}</td>
    </tr>
{% if eqhash>0 %}
    <tr>
        <th>solution size</th>
        <td>{{ block.solution_size }}</td>
    </tr>
 {% endif %}
    <tr>
        <th>version</th>
        <td>{{ block.version }}</td>
    </tr>
    <tr>
        <th>version (hex)</th>
        <td>{{ block.version_hex }}</td>
    </tr>
    <tr>
        <th>version (bin)</th>
        <td>{{ block.version_bin }}</td>
    </tr>
    <tr>
        <th>difficulty</th>
        <td>{{ block.difficulty }}</td>
    </tr>
    <tr>
        <th>bits</th>
        <td>{{ block.bits }}</td>
    </tr>
    <tr>
        <th>coinbase</th>
        <td>{{ coinbase.coinbase }}</td>
    </tr>
    <tr>
        <th></th>
        <td><pre>{{ coinbase.coinbase_text }}</pre></td>
    </tr>
{% if eqhash>0 %}
    <tr>
        <th>raw header</th>
        <td><input value="{{ block.raw}}" style="width: 100%;" /></td>
    </tr>
    <tr>
        <th>nonce</th>
        <td><input value="{{ block.nonce }}" style="width:100%;" /></td>
    </tr>
    <tr>
        <th>nonce text</th>
        <td><pre>{{ block.nonce_text }}</pre></td>
    </tr>
    <tr>
        <th>solution</th>
        <td><pre>{% for chunk in block.solution_br %}{{ chunk }}
{% endfor %}</pre></td>
    </tr>
 {% endif %}
</table>

<h3>Transactions</h3>

<table class="pure-table" style="width: 100%;">
    <tr>
        <th>hash</th>
    </tr>
{% for tx_hash in block.tx %}
    <tr>
        <td><a href="/tx/{{ tx_hash }}">{{ tx_hash }}</a></td>
    </tr>
{% endfor %}
</table>
<script>
$(document).ready(function() {
  $("time.timeago").timeago();
});
</script>
{% endblock content %}
